html {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75em;
    color: #1a1f16;
    background-color: #ededed;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    min-width: 240px;
    background-color: #fff;
}

@media (min-width: 260px) {
    html {
        font-size: 0.8em;
    }
}

@media (min-width: 360px) {
    html {
        font-size: 1em;
    }

    .container {
        /* padding: 2rem; */
        max-width: 450px;
    }
}

h2 {
    margin-bottom: 0.5em;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
}

h3 {
    margin-bottom: 0.5em;
    font-size: 1em;
    /* line-height: 1.5rem; */
    font-weight: 700;
}

p,
li {
    margin-bottom: 0.5em;
}

ul,
li {
    padding: 0 1ex;
}

.input1 {
    margin-bottom: 0.5em;
    line-height: 1.5em;
    text-align: center;
    border: 1px solid #1a1f16;
}

.input2 {
    margin-bottom: 0.5em;
    width: calc(100% - 9px);
    line-height: 1.5em;
    text-align: center;
    border: 1px solid #1a1f16;
}

.id-wrapper {
    margin-bottom: 1em;
    /* background-color: #ededed; */
    /* border: 1px dashed red; */
}

.id {
    margin-bottom: 0.5em;
    min-width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    background-color: #ededed;
}

.new-btn {
    margin-bottom: 0.5em;
    width: 100%;
    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1.5rem;
    background-color: #fff;
    border: 1px solid #1a1f16;
    border-radius: 0.5rem;
    cursor: pointer;
}

.types-list {
    margin-bottom: 0.5em;
}
